.Title{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container{
    display: flex;
}

.label{
    display:flex;
    justify-content: right;
    margin-top: 3.5px;
    margin-left: 300px;
    padding-top:5px
}

.input{
    display: inline;
    margin-top: 2px;
    margin-left: 50px;
    padding-top: 5px;
    
}

.btn{
    display: flex;
    justify-content: center;
}

