<div class="Title">
   <h1>NG Bank Registration Form</h1>
</div>
<br>

<div class="container">
  <section>
    <div>
      <label class="label">First Name</label><br>
      <label class="label">Last Name</label><br>
      <label class="label">Department/Office</label><br>
      <label class="label">Username</label><br>
      <label class="label">Password</label><br>
      <label class="label">Confirm Password</label><br>
      <label class="label">Email</label><br>
      <label class="label">Contact No</label>
    </div>
  </section>
  <section>
    <div>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
      <input type="text" class="input" size="50"><br><br>
    </div>
  </section>
  </div>
  <div class="btn">
    <button>Submit</button> &nbsp;
    <button>Reset</button>
  </div>