<div class="Title">
   <h1>Hello World!!!</h1>
</div>

<div class="container">
  <section>
    <div>
      <label class="label">First Name</label><br>
      <label class="label">Last Name</label><br>
      <label class="label">Department/Office</label><br>
      <label class="label">Username</label><br>
      <label class="label">Password</label><br>
      <label class="label">Confirm Password</label><br>
      <label class="label">Email</label><br>
      <label class="label">Contact No</label>
    </div>
  </section>
  <section>
    <form [formGroup]="regForm" (ngSubmit)="register()">
    <div>
      <div><input type="text" class="input" size="50" formControlName="fname"></div><br>
      <div><input type="text" class="input" size="50" formControlName="lname"></div><br>
      <div><input type="text" class="input" size="50" formControlName="office"></div><br>
      <div><input type="text" class="input" size="50" formControlName="username"></div><br>
      <div><input type="text" class="input" size="50" formControlName="password"></div><br>
      <div><input type="text" class="input" size="50" formControlName="confirm_password"></div><br>
      <div><input type="text" class="input" size="50" formControlName="email"></div><br>
      <div><input type="text" class="input" size="50" formControlName="contactno"></div>
    </div>
    <br>
    <div>
      <button type="submit">Submit</button> &nbsp;
      <button>Reset</button>
    </div>
    </form>
  </section>
  </div>
  